
body
{
background-color: pink;
font-size: 30px;

}
.copy_right_footer
{

color: grey;
bottom: 0;
width: 100%;
background-color: white;
line-height: 3;
text-align: center;
}
img
{
width: 500;
height: 500;
}
h5
{
font-size: 30px;
color: brown;
}
h4{
font-size: 50px;
color: aliceblue;
}